@media only screen and (min-width: 600px) {
	#header-wrap {
		height: 80px;
	}
	#page-wrap {
		position: relative;
		min-height: calc(100% - 80px);
		max-width: 500px;
		width: 70%;
		margin: 0 auto;
		top: 0;
		overflow: hidden auto;
	}
	.header-logo {
		height: 60px;
		width: 104px;
		top: 10px;
		left: calc(50% - 52px);
		overflow: visible;
	}
	#all-wrap {
		min-height: 100vh;
	}
	#home-button {
		width: 45px;
		height: 45px;
		left: 20px;
		top: 16px;
	}
	#small-code-label {
		font-size: 26px;
		height: 40px;
		width: 100px;
		line-height: 40px;
		border-radius: 13px;
		top: 19px;
		right: 25px;
		letter-spacing: 3px;
	}
	#big-code-label {
		font-size: 100px;
		margin: 16px auto 10px auto;
		height: 110px;
		line-height: 100px;
		border-radius: 40px;
		padding: 10px 0;
		letter-spacing: 5px;
		width: 80%;
	}
	#share-code-label {
		margin-top: 60px;
		font-size: 22px;
	}
	#link-label {
		margin-top: 30px;
		font-size: 22px;
	}
	#copy-link-button {
		margin-top: 10px;
	}
	#start-button {
		margin-top: 60px;
	}
	#num-people-wrap {
		top: 92px;
		right: 25px;
		height: 50px;
		width: 100px;
	}
	#people-count {
		font-size: 26px;
		right: 55px;
		top: 8px;
		width: 50px;
	}
	#search-wrap {
		margin-top: 50px;
	}
	#list-wrap {
		margin-top: 60px;
	}
	#add-more-button {
		top: 20px;
		left: 10px;
	}
	#winner-display {
		width: 100%;
		height: 100%;
	}
	#winner-card-wrap {
		width: 50%;
		max-width: 320px;
		margin: 10px auto;
	}
	#winner-label {
		width: 40%;
		max-width: 280px;
	}
	.big-card {
		padding: 13px 10px;
	}
	.big-card-title {
		font-size: 22px;
	}
	.big-card-overview {
		font-size: 14px;
		line-height: 16px;
	}
	#winner-card-x {
		width: 40%;
		max-width: 280px;
	}
	#card-holder {
		margin-top: 10px;
		height: min-content;
		padding-bottom: 40px;
	}
	#current-card {
		min-width: 0;
		max-width: 320px;
		width: 80%;
		top: 10px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
	}
	#next-card {
		min-width: 0;
		max-width: 320px;
		width: 80%;
		top: 10px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
	}
	#swipe-controls {
		margin-bottom: 30px;
	}
	#swipe-content {
		max-height: auto;
		min-height: 0;
		justify-content: flex-start;
	}
	.big-card {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.vote-x {
		right: -29px;
	}
	#host-notification {
		width: 50%;
		max-width: 400px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 35vh auto 0 auto;
		height: fit-content;
	}
	::-webkit-scrollbar {
		width: 5px;
	}
}
